<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
	<head>
		<div th:replace="fragments/header :: head"></div>
		<title>File Upload & Display Test</title>
	</head>
	<body>
		<!-- Navbar -->
		<div th:replace="fragments/body :: navbar"></div>

		<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">File Upload & Display Test</h1>
			<hr>
			<br>
		</div>

<form method="GET" th:action="@{/UploadTest}">
		<div class="input-group" style= "margin-left: 25%;">
			<div class="form-outline">
				<input type="search" id="form1" class="form-control" placeholder="Search" />
			</div>
			<button type="button" th:type="submit" class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
		</div>
</form>

		<!-- https://stackoverflow.com/questions/60427028/how-to-input-image-file-from-user-and-then-base64-encode-it-in-javascript -->
		<script>
			"use strict";

			const fileDataURL = file => new Promise((resolve,reject) => {
				let fr = new FileReader();
				fr.onload = () => resolve( fr.result);
				fr.onerror = reject;
				fr.readAsDataURL( file)
			});

			function updateFileData(file) {
				fileDataURL(file)
						.then(data => {
							document.getElementById("fileData").setAttribute("value", data);
							document.getElementById("fileName").textContent = file.name;
						})
						.catch(err => console.log(err));
			}
		</script>

		<nav class="w-75" style="padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;display:block;">
			<div class="card card-body" th:if="${uploadedData}">
				<h5 class="card-title">Uploaded image (stored temporarily)</h5>
				<img th:src="${uploadedData}">
			</div>
			<br th:if="${uploadedData}">
			<div class="card card-body">
				<h5 class="card-title">Upload an image (10MB limit)</h5>
				<form method="POST" th:action="@{/UploadTest}">
					<div class="form-group">
						<label class="btn btn-outline-dark btn-file">
							Choose File <input id="fileUpload" type="file" style="display: none;" accept="image/jpeg,image/png" onchange="updateFileData(this.files[0]);">
						</label>
						<label id="fileName"></label>
						<input type="hidden" name="fileData" id="fileData">
						<!--<small th:if="${uploadError}" th:text="${uploadError}" class="form-text text-danger"></small>-->
					</div>
					<button type="submit" class="btn btn-primary">Upload</button>
				</form>
			</div>
			<br>
		</nav>

		<!-- Bootstrap & JQuery JS -->
		<div th:replace="fragments/body :: scripts"></div>
	</body>
</html>