<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: head"></div>
    <title>Recursive Digit Sum</title>
</head>

<body>

<div th:replace="fragments/body :: navbar"></div>
<div th:replace="fragments/body :: scripts"></div>


<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Greatest Common Divisor | Sean</h1>
</div>

<div style="padding-left:0;padding-right:0;margin-left:12.5%;margin-right:12.5%;margin-bottom:auto;display:block;">
    <h3>How does this recursion work?</h3>
    <h4>This is an example of the <a href="https://en.wikipedia.org/wiki/Euclidean_algorithm">Euclidian Algorithm</a> at work.</h4>
</div>

<div class="card w-75" style="padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;margin-bottom:auto;display:block;">
    <div class = card-body>
        <h5 class="card-title">Put arguments here</h5>
        <div class="form">
            <form action="/Gcd" class="box"  method="get">
                <input name="gcdA" type="text" class="form-control" placeholder="a" style="margin-bottom:15px;">
                <input name="gcdB" type="text" class="form-control" placeholder="b" style="margin-bottom:15px;">
                <input type="submit" name=""  class="btn btn-primary" value="Go">
                <h1>
                    <p th:text = "${output}"></p>
                </h1>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="code" style="margin-right: 12.5%; margin-left: 12.5%">
    <script src="https://gist.github.com/banditcat12/6321922128684c461a4c69795d66516d.js"></script>
</div>
</body>

</html>