<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
	<head>
		<div th:replace="fragments/header :: head"></div>
		<title>Rain | Register</title>

		<link rel="stylesheet" type="text/css" href="css/login.css">
	</head>
	<body class="my-login-page">
		<!-- Navbar -->
		<div th:replace="fragments/body :: navbar"></div>

		<section class="h-100 login">
			<div class="container h-100">
				<div class="row justify-content-md-center h-100">
					<div class="card-wrapper">
						<div class="card fat">
							<div class="card-body">
								<h4 class="card-title">Register</h4>
								<form method="POST" th:action="@{/register}" th:object="${userForm}" class="my-login-validation" novalidate="">
									<div class="form-group">
										<label for="username">Username</label>
										<input id="username" th:value="*{username}" type="text" class="form-control" name="username" value="" required autofocus>
										<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
									</div>

									<div class="form-group">
										<label for="password">Password</label>
										<input id="password" th:value="*{password}" type="password" class="form-control" name="password" required>
										<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
									</div>

									<div class="form-group">
										<label for="passwordConfirm">Confirm Password</label>
										<input id="passwordConfirm" th:value="*{passwordConfirm}" type="password" class="form-control" name="passwordConfirm" required>
										<div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="text-danger"></div>
									</div>

									<div class="form-group m-0">
										<button type="submit" class="btn btn-primary btn-block">
											Register
										</button>
									</div>
									<div class="mt-4 text-center">
										Already have an account? <a href="/login">Login</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Bootstrap & JQuery JS -->
		<div th:replace="fragments/body :: scripts"></div>
	</body>
</html>