<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: head"></div>
    <title>Comparing Sorting Algorithms</title>
</head>
<body>

<div th:replace="fragments/body :: navbar"></div>
<div th:replace="fragments/body :: scripts"></div>

<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Comparing Sorting Algorithms | Sean</h1>
</div>

<div style="padding-left:0;padding-right:0;margin-left:12.5%;margin-right:12.5%;margin-bottom:auto;display:block;">
    <h5>Note: When Sorting strings, all capital letters come before all lowercase letters.</h5>
</div>

<div class="card w-75" style="padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;margin-bottom:auto;display:block;">
    <div class="card-body">
        <div class="form">
            <form method="GET" th:action="@{/SortSean}">
                <h5 class="card-title">Size of list to be sorted:</h5>
                <input class="form-control" name="size" type="text" placeholder="size" style="margin-bottom:15px;">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="int" value="int" th:checked="${type == 'int'}">
                    <label class="form-check-label" for="int">
                        int
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="String" value="String" th:checked="${type == 'String'}">
                    <label class="form-check-label" for="String">
                        String
                    </label>
                </div>

                <input type="submit"  class="btn btn-primary" name="" value="Go">
            </form>
        </div>
    </div>
</div>

<div class="card w-75" style="padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;margin-bottom:auto;display:block;">
    <div class="card-body">
        <h5 class="card-title">Data</h5>
        <table class="table table-striped" style = "margin: auto;">
            <tr>
                <td></td>
                <td>Bubble Sort</td>
                <td>Insertion Sort</td>
                <td>Selection Sort</td>
            </tr>
            <tr>
                <td>t</td>
                <td th:text = "${bubbleTime}">...</td>
                <td th:text = "${insertionTime}">...</td>
                <td th:text = "${selectionTime}">...</td>
            </tr>
            <tr>
                <td>Big-O</td>
                <td>O(n^2)</td>
                <td>O(n^2)</td>
                <td>O(n^2)</td>
            </tr>
        </table>
    </div>
</div>

<div class="card w-75" style="padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;margin-bottom:auto;display:block;">
    <div class="card-body">
        <h5 class="card-title">List</h5>
        <table class="table table-striped" style = "margin: auto;">
            <tr>
                <td>Unsorted</td>
                <td>Sorted</td>
            </tr>
            <th:block th:each="i : ${all}">
                <tr>
                    <td th:text="${list[i]}">...</td>
                    <td th:text="${sortedList[i]}">...</td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

</body>
</html>